<p class="text-center">Realtime Voting Result</p>
<div class="voting center-block">
  <p class="text-center">voting result is here.</p>
</div>
<div class="center-block">
  <p class="text-center">What is your favorite language?</p>
    <ul class="list-unstyled dlist-group">
      <li class="list-group-item">Ada: <button id="ada" class="language">Ada</button></li>
      <li class="list-group-item">Javascript: <button id="javascript" class="language">Javascript</button></li>
      <li class="list-group-item">Eiffel: <button id="eiffel" class="language">Eiffel</button></li>
      <li class="list-group-item">Python: <button id="python" class="language">Python</button></li>
      <li class="list-group-item">Ruby: <button id="ruby" class="language">Ruby</button></li>
    </ul>
</div>
